    
* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/*end of global elements*/
header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}
header h1 {
    color: #fff;
    padding-left: 10px;
    margin: 0;
}
header nav{
    margin: auto 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a{
    padding: 10px 50px;
    color: white;
    text-decoration: none;
}
header nav ul a:hover {
    color: gray;
}
/*end header bar*/
.hero {
    background-image: url("../assets/images/vector1.jpg"); 
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.hero h2 {
    font-size:40px;
}
.Introduction {
    margin: 2% 10% 10% 1%;
}
.hero h4{
    font-size: 30px;
}
#about-me {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
#imageofself img{
    padding: 8%;
    height: 100%;
    width: 70%;
}
/*end of about me/hero*/